# Ignore virtual environment
venv/

# Byte-compiled Python files
__pycache__/
*.pyc
*.pyo

# Logs and temporary files
*.log
*.tmp

# IDE or editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
